
body{
	font-family: "Reader Regular", Helvetica, sans-serif;
 	font-weight: normal;
  	font-size: 1em;
  	line-height: 1.5em;
  	color: #111;
  	background: #FAF8F2;
  	text-rendering: optimizeLegibility;
}

#logo{
	width:50%;
	position:absolute;
	left:50%;margin-left:-25%;
	top:50%;margin-top:-25%;
}

#logo img{
	max-width:100%
}

#contact{
	width:60%;
	position:absolute;
	left:50%;
	margin-left:-30%;
	bottom:10%;
	color:#333;
	font-size:20px;
	line-height:26px;
	text-align:center
}

/*a{
	text-decoration: none;
    color: #111;
    border-bottom: 2px solid #111;
}*/

a:hover{
  	color: #111;
  	border-bottom: none;
}

h1{
	text-transform: uppercase;
  	font-weight: bold;
/*	letter-spacing: 3px;*/
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size-adjust: 0.53;
	font-style: normal;
	font-size: 1.3em;
	letter-spacing: .125em;
}

.container{
	margin: 5%;
}
