#superior {
  min-width: 800px;
}

.text {
    position: fixed;
    padding: 1.4em 1.8em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 10000;
}

.menu {
    display: inline-block;
    margin-left: 0.8em;
}