//
// Super High-Level Styling, basically body/root
//

// for debugging :)
// * { outline: 1px solid $blue; }

html,
body {
	min-height:100%;
	font: 20px/1.4 "Neue Haas Unica W01 Regular", Helvetica, Arial, sans-serif;
	background-color: $black;
	color: $white;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	position: relative;
	hanging-punctuation: first;
	@media screen and (max-width:440px) {
		font: 15px/1.4 "Neue Haas Unica W01 Regular", Helvetica, Arial, sans-serif;
	}
}

#wrapper,
#wrapper.post {
	padding: 1em 2em 2em;
	max-width: 920px;
	margin: 0px auto;
	@media screen and (max-width: 540px) {
		padding: 40px 40px;
	}
	@media screen and (max-width:440px) {
		padding: 40px .5em 40px .5em;
	}
}
