//
// Header, Navigation
//

// Header

.main-menu {
	max-width: 840px;
	height: 5.5em;
	margin: 1em auto;
	padding: 2em 0;
	border-bottom: 1px solid $black10;
	@media screen and (max-width:440px) {
		margin: 0 .5em;
	}
	a {
		&#title {
			float: left;
			color: $white;
			@media screen and (max-width:440px) {
				font-size: 15px;
				line-height: 1.35;
			}
		}
		&#titleright {
			float: right;
			color: $white;
			@media screen and (max-width:440px) {
				font-size: 15px;
				line-height: 1.35;
			}
		}
	}
  .logotype {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 3em;
    max-height: 3em;
  }
}
