{% extends "index.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
<section id="wrapper" class="post group">  

  <article class="post">
  	<section class="post-body">
  		{% block body %}
  		This is where the post contents is.
  		{% endblock body %}
  	</section>
  </article> <!-- Post Body -->
  
  <footer id="post-meta" class="group">
    <div class="date">{{ date|date:"M j" }}</div>
    {% if tags %}
    <div><span>Category</span> {{ tags }} </div>
    {% endif %}
  </footer> <!--Post Meta-->
  
  <footer class="post-footer">
  <div id="post-nav">
  	<span class="prev">
  		{% if prevPost %}
  			<a href='/{{ prevPost.path }}'>
  				<span class="arrow">&larr;</span> {{ prevPost.title }}
  			</a>
  		{% endif %}
  	</span>
  	<span class="next">
  		{% if nextPost %}
  			<a href='/{{ nextPost.path }}'>
  				{{ nextPost.title }} <span class="arrow">&rarr;</span>
  			</a>
  		{% endif %}
  	</span>
  </div>
  </footer> <!-- Post Footer and Nav -->

</section> <!--wrapper-->
{% endblock content %}