title: Home Goods
thumbnail: /static/images/ibm/ibm-thumbnail.png
tags: Experience
date: 30-01-2015

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<ol start="1">
  <li>“Simple Home Goods”</li>
</ol>

###### Summary —

Purely physical projects.

###### Projects —

1. Item <br>
A year–long object–building collaboration with [Anton Anger](https://www.instagram.com/antonanger/).

2. Q vessel <br>
A 'spatial memory' project. Inspired heavily by the work of Naoto Fukusawa.

{% endfilter %}
{% endblock body %}
